html {
  font-family: "Roboto", sans-serif;
}

body,
h1,
h2 {
  margin: 0;
}

/* Header */

header {
  background-color: #2b57ae;
  color: white;
  height: 100px;
}

h1 {
  font-size: 1.5em;
  line-height: 100px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
}

/* Main content */

section {
  display: flex;
  min-height: 500px;
}

section nav {
  background-color: #f0bc0f;
}

section main {
  flex: 1;
  padding: 1em;
  text-align: justify;
}

section aside {
  background-color: #cf68cf;
}

section nav,
section aside {
  box-sizing: border-box;
  flex: 0 0 150px;
  padding: 1em;
}

/* Footer */

footer {
  background-color: #1ea11e;
  color: white;
  height: 100px;
}

footer h2 {
  line-height: 100px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  section {
    flex-direction: column;
  }

  section nav,
  section aside {
    flex: 0 0 70px;
  }
}
