/* || General styles */

:root {
  --background-page-color: #548093;
  --border: 1px solid var(--light-grey);
  --dark-green: #069475;
  --dark-grey: #666;
  --font-family: "Roboto", sans-serif;
  --green: #00bb93;
  --header-and-footer-color: #eff0f1;
  --header-font-size: 1.5em;
  --label-font-size: 1.2em;
  --light-grey: #ccc;
  --text-font-size: 1em;
  --white: #fdfdfd;
}

html {
  background-color: var(--background-page-color);
  font-family: var(--font-family);
}

p {
  margin: 0;
}

/* || Form */

form {
  background-color: var(--white);
  border-radius: 10px;
  margin: 2em auto;
  width: 700px;
}

/* || Header */

h1 {
  background-color: var(--header-and-footer-color);
  border-bottom: var(--border);
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: var(--dark-grey);
  font-size: var(--header-font-size);
  font-weight: 500;
  line-height: 3;
  margin: 0;
  text-align: center;
}

/* || Data input */

*:focus {
  outline-color: var(--dark-grey);
}

.inputs-container {
  display: grid;
  gap: 1em 0.8em;
  grid-template-columns: repeat(2, 1fr);
  padding: 1em 2em;
}

.two-columns {
  grid-column: 1 / span 2;
}

.checkbox-radio-wrapper p,
label {
  margin-bottom: 0.3em;
}

.checkbox-radio-wrapper p {
  color: var(--green);
  font-size: var(--label-font-size);
}

.checkbox-radio-wrapper label {
  color: var(--dark-grey);
  font-size: var(--text-font-size);
}

label {
  color: var(--green);
  display: inline-block;
  font-size: var(--label-font-size);
}

input,
select,
textarea {
  border-radius: 3px;
  border: var(--border);
  box-sizing: border-box;
  font-size: var(--text-font-size);
  padding: 0.3em 0.5em;
  width: 100%;
}

input::placeholder {
  color: var(--light-grey);
  font-family: var(--font-family);
}

.checkbox-radio-wrapper input {
  vertical-align: text-top;
  width: initial;
}

.income-wrapper input {
  margin: 0;
  padding: 0;
  vertical-align: -webkit-baseline-middle;
  width: 80%;
}

.income-wrapper span {
  background-color: var(--green);
  border-radius: 5px;
  color: var(--white);
  font-size: var(--label-font-size);
  padding: 0.3em;
}

input[type="file"] {
  border: 0;
  color: var(--dark-grey);
  padding: 0;
}

input::file-selector-button {
  background-color: var(--white);
  border-radius: 3px;
  border: var(--border);
}

textarea {
  font-family: var(--font-family);
  max-height: 300px;
  min-height: 100px;
  resize: vertical;
}

/* || Submit */

form > section:last-child {
  background-color: var(--header-and-footer-color);
  border-top: var(--border);
  border-radius: inherit;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 0.7em 2em;
  text-align: right;
}

button {
  background-color: var(--green);
  border-radius: 5px;
  border: 0;
  color: var(--white);
  cursor: pointer;
  font-size: var(--label-font-size);
  padding: 0.6em 1em;
}

button:hover {
  background-color: var(--dark-green);
}

button:active {
  background-color: var(--green);
  box-shadow: 0.13em 0.13em 0.31em var(--light-grey);
}
